@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html { width: 100%; height:100%; overflow:hidden; }

body {
    width: 100%;
    height:100%;
    font-family: 'Open Sans', sans-serif;
    background-image: url("basketball-background-hd.jpg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.logreg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -115px 0 0 -115px;
    width:240px;
    height:200px;
    border-color: transparent;
    border-image-outset: 10px;

}
}
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -115px 0 0 -115px;
    width:240px;
    height:120px;
    border-color: transparent;
    border-image-outset: 10px;
}


.h1{
color: white;
text-shadow: 0 0 10px
rgba(0,0,0,0.3);
letter-spacing:1px;
text-align: center;
}

.login{

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}
.radio{
    display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.button{
background: #008CBA;
}

.center {
  margin: auto;
  width: 15%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}


input {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0,0,0,0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }