<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking History</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='/turf.css') }}">
</head>
<body>
<form action="/generate_bill" method="POST">
<div class="login" style="margin:auto;
top: 50%; left: 50%;">
<h1>Booking history for my allocated location: {{l}}</h1>
    <br> <br>
    <h2>Booked users: {{u}}</h2>
</div>
</form>
</body>
</html>