<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Book Turf</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='/turf.css') }}">
</head>
<body>
<form action="/book_turf" method="POST">
<div class="login" style="margin:auto;
top: 50%; left: 50%;">
<h1>Book a turf</h1>
    <input type="text" class="login-field" value="" placeholder="Enter the turf location you want" name="loc">
<input type="submit" name="submit_button" value="Book" class="button">
</div>
</form>
</body>
</html>