<html>
<body>
<header>
	<title> ONLINE SPORTS TURF PLAYGROUND BOOKING SYSTEM</title>
	<h1 style="color:white;">SPORTS TURF PLAYGROUND BOOKING SYSTEM</h1>
	<h2 style="color:white;"> Hello, {{email}}</h2>
</header>
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='/turf.css') }}">
<form action="/home_admin" method="POST">

    <input type="submit" name="submit_button" value="Add turf location"> <br>
	<input type="submit" name="submit_button" value="Provide credentials & Add a manager"> <br>
    <input type="submit" name="submit_button" value="Allocate a manager"> <br>
    <input type="submit" name="submit_button" value="Add price list"> <br>
    <input type="submit" name="submit_button" value="View Booking"> <br>
    <br>
	<input type="submit" name="submit_button" value="View visits"> <br>
	<input type="submit" name="submit_button" value="Contact"> <br>
	<input type="submit" name="submit_button" value="Log out">

</form>
</body>
</html>