<html>
<body>
<header>
	<title> ONLINE SPORTS TURF PLAYGROUND BOOKING SYSTEM</title>
	<h1 style="color:white;">SPORTS TURF PLAYGROUND BOOKING SYSTEM</h1>
	<h2 style="color:white;"> Hello, {{email}}</h2>
</header>
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='/turf.css') }}">
<form action="/home_manager" method="POST">

	 <input type="submit" name="submit_button" value="Check rates"> <br>
	<input type="submit" name="submit_button" value="View Request"> <br>
    <input type="submit" name="submit_button" value="Confirm Booking"> <br>
    <input type="submit" name="submit_button" value="Bill Generation"> <br>
    <input type="submit" name="submit_button" value="Booking History"> <br>
    <br>

	<input type="submit" name="submit_button" value="View visits"> <br>
	<input type="submit" name="submit_button" value="Contact"> <br>
	<input type="submit" name="submit_button" value="Log out">

</form>
</body>
</html>